@import "bootstrap";

// COLORS
$density-blue: #275DAD;
$density-grey: #A6A6A6;
$light-grey: lighten(#A6A6A6, 60%);
$link-mint: #58A3AF;
$dark-blue: #373F51;
$aqua-grey: #E8F1F2;
$error-red: #E63946;

// FONTS
$lato: 'Lato', sans-serif;

body {
  background: $density-grey;
}

hr {
  border: 1px solid $density-grey;
}

.container {
  margin: 40px auto;
}

// HEADERS
h1 {
  color: $density-blue;
  font-family: $lato;
  margin-bottom: 20px;
}
h2 {
  color: $dark-blue;
  font-family: $lato;
  margin-bottom: 20px;
}
h3 {
  color: $dark-blue;
  font-family: $lato;
  margin-bottom: 20px;
  margin: 0;
}

// BUTTON OVERRIDE
.btn {
  background: $density-blue;
  color: $aqua-grey;
  font-family: $lato;
}
.btn:hover {
  background: lighten($density-blue, 10%);
  color: $aqua-grey;
}

// NAVBAR OVERRIDE
.navbar {
  background: $light-grey;
  box-shadow: 0 0 10px $dark-blue;
  border-radius: 0;
  padding-bottom: 5px;
  .navbar-brand img {
    width: 100px;
  }

  // NAVBAR FONT COLOR OVERRIDE
  ul.nav li a, ul.nav li a:visited {
      color: $density-blue !important;
      font-family: $lato;
      font-size: 1.2em;
  }

  ul.nav li a:hover, ul.nav li a:active {
      color: #density-blue !important;
      font-family: $lato;
      font-size: 1.2em;
  }

  ul.nav li.active a {
      color: #density-blue !important;
      font-family: $lato;
      font-size: 1.2em;
  }

  // SEARCH OVERRIDE
  .navbar-form input {
    width: 300px;
    border-radius: 2px;
  }
}

//FORM BACKGROUND
.form-background {
  background: $light-grey;
  min-width: 800px;
  border: 1px solid red;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 40px;
}

//LOGIN FORM
.login {
  margin: 0 auto;
  width: 350px;
  .form-control {
    width: 300px;
    border-radius: 2px;
    margin-bottom: 10px;
  }
  .btn {
    margin-bottom: 10px;
  }
  a {
    color: $link-mint;
  }
}

//NEW QUOTE FORM
.new-quote {
  margin: 0 auto;
  border: 1px solid red;
  width: 700px;
  label {
    font-weight: bold;
    display: inline-block;
  }
  a {
    color: $link-mint;
  }
  // input {
  //   padding: 5px;
  //   margin-right: 10px;
  //   display: inline-block;
  // }
  select {
    height: 25px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 0px;
    background: transparent;
  }
  .form-row {
    margin: 5px;
  }
  .form-submit {
    width: 405px;
    margin-top: 10px;
    text-align: center;
  }
  .form-control {
    padding: 5px;
    margin-right: 10px;
    display: inline-block;
    width: 100px;
    border-radius: 2px;
    margin-right: 5px;
  }
  .form-section {
    background: #F7F7F9;
    border-bottom: 1px solid #DDDDDD;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

//QUOTE TERMS
.quote-terms {
  margin-left: 10px;
  margin-right: 20px;
}



