@import "bootstrap";

// COLORS
$density-blue: #275DAD;
$density-grey: #A6A6A6;
$light-grey: lighten(#A6A6A6, 60%);
$link-mint: #58A3AF;
$dark-blue: #373F51;
$aqua-grey: #E8F1F2;
$error-red: #E63946;

// FONTS
$lato: 'Lato', sans-serif;

body {
  background: $density-grey;
}

hr {
  border: 1px solid $density-grey;
}

.container {
  margin: 40px auto;
}

// HEADERS
h1 {
  color: $density-blue;
  font-family: $lato;
  margin-bottom: 20px;
}
h2 {
  color: $dark-blue;
  font-family: $lato;
  margin-bottom: 20px;
}
h3 {
  color: $dark-blue;
  font-family: $lato;
  margin-bottom: 20px;
}

// BUTTON OVERRIDE
.btn {
  background: $density-blue;
  color: $aqua-grey;
  font-family: $lato;
}
.btn:hover {
  background: lighten($density-blue, 10%);
  color: $aqua-grey;
}

// NAVBAR OVERRIDE
.navbar {
  background: $light-grey;
  box-shadow: 0 0 10px $dark-blue;
  border-radius: 0;
  padding-bottom: 5px;
  .navbar-brand img {
    width: 100px;
  }

  // NAVBAR FONT COLOR OVERRIDE
  ul.nav li a, ul.nav li a:visited {
      color: $density-blue !important;
      font-family: $lato;
  }

  ul.nav li a:hover, ul.nav li a:active {
      color: #density-blue !important;
      font-family: $lato;
  }

  ul.nav li.active a {
      color: #density-blue !important;
      font-family: $lato;
  }

  // SEARCH OVERRIDE
  .navbar-form input {
    width: 300px;
    border-radius: 2px;
  }
}

//FORM BACKGROUND
.form-background {
  background: $light-grey;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 40px;
}

//LOGIN FORM
.login {
  margin: 0 auto;
  width: 350px;
  .form-control {
    width: 300px;
    border-radius: 2px;
    margin-bottom: 10px;
  }
  .btn {
    margin-bottom: 10px;
  }
  a {
    color: $link-mint;
  }
}

//NEW QUOTE FORM
.new-quote {
  margin: 0 auto;
  width: 500px;
  label {
    font-weight: 400;
  }
  .form-inputs {
    width: 500px;
  }
  .input-left {
    width: 150px;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
  }
  .input-right {
    width: 200px;
    display: inline-block;
    text-align: left;
  }
  .form-submit {
    width: 405px;
    margin-top: 10px;
    text-align: center;
  }
  .form-control {
    width: 280px;
    border-radius: 2px;
    margin-right: 5px;
  }
}

//QUOTE TERMS
.quote-terms {
  .hidden {
    display: none;
  }
}



